<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Add yarn</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New yarn</h1>
	<div>
	<form th:object="${yarn}" th:action="@{/saveyarn}" action="#" method="post">
		<table>
			<tr>
				<td>Brand: <input type="text" th:field="*{brand}" /></td>
				<td th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Error</td>
			</tr>
			<tr>
				<td>Name: <input type="text" id="name" th:field="*{name}"></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
			</tr>
			<tr>
				<td>Description: <input type="text" id="description" th:field="*{description}"></td>
			</tr>
			<tr>
				<td>Price: <input type="text" id="price" th:field="*{price}" ></td>
			</tr>	
		</table>
			<!-- 
			<label for="brand">Brand</label>
			<input type="text" id="brand" th:field="*{brand}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="description">Description</label>
			<input type="text" id="description" th:field="*{description}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="price">Price</label>
			<input type="text" id="price" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<div>
			<br>
				 -->	
			<input type="submit" value = "Save"></input>
	</form>
	</div>

</body>
</html>