<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Patternlist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Patterns</h1>
	<table>
		<tr>			
			<th>Name</th>
			<th>Yarn</th>
			<th>Content</th>			
		</tr>
		<tr th:each = "pattern : ${patterns}">
			<td th:text="${pattern.name}"></td>
			<td th:text="${pattern.yarn.name}"></td>
			<td th:text="${pattern.content}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${pattern.patternid})}">Edit</a></td>			
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${pattern.patternid})}">Delete</a></td>
		</tr>	
	</table>	
	
	<td sec:authorize="hasAuthority('ADMIN')"><a href="/addpattern">Add patterns</a></td>
	<br />
	<a href="/yarnlist">Yarns</a>
	
		<form th:action="@{/logout}" method="post">
		 <input type="submit" value="Sign Out"/>
		</form>

	</body>
	</html>